# Visualizing sensor data from IR Sensor

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np

In [3]:
FILE = "E:/Arduino/distance.csv"
df = pd.read_csv(FILE)

In [4]:
df.head()

   Distance  ObjTemp  AmbTemp
0         0    77.88    79.68
1         0    77.88    79.68
2         0    77.88    79.68
3         0    77.88    79.61
4         0    77.88    79.61